@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.sbi-emi-container {
    font-family: 'Poppins', sans-serif; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #007bff;
}

.content-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.chart-section,
.input-section {
    flex: 1;
    margin: 20px;
    background-color: #e7e3e3; /* Set card background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-section {
    max-width: 400px;
}

.chart-wrapper {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.input-section {
    max-width: 400px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.label {
    margin: 10px 0 5px;
    font-weight: 600;
    font-size: 1rem;
}

.input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.input:focus {
    border-color: #007bff;
    outline: none;
}

.button {
    padding: 12px;
    font-size: 1.1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.button:hover {
    background-color: #0056b3;
}

.result-container {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
    color: #28a745;
    font-weight: 600;
}

.summary-section,
.info-section,
.formula-section {
    margin-top: 50px;
    padding: 20px;
    background-color: #e7e3e3; /* Set card background color */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
    text-align: left;
}

.summary-section p,
.info-section p,
.formula-section p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

.sub-header {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #007bff;
    font-weight: 700;
    text-align: center;
}

.summary-section p {
    font-weight: 600;
    font-size: 1.1rem;
}

.formula-section h1,
.info-section h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #007bff;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
  .content-container {
      flex-direction: column;
      align-items: center;
  }

  .chart-section,
  .input-section {
      max-width: 100%;
  }
}
