.category-container {
  padding: 20px;
}

.items-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 16px; 
}

.items-grid > div {
  background-color: #f8f9fa; 
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex; 
  justify-content: center; 
  align-items: center; 
  min-height: 150px; 
}
.empty-space {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}
