.cateringall-category-container {
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 70px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 100%; 
}

.cateringall-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}

.cateringall-header-container h2 {
    font-size: 24px;
    color: #333;
    margin-right: 10px;
}

.cateringall-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start; 
    position: relative;
}

.cateringall-card {
    width: 300px;
    height: 550px; 
    background: #f8f9fa; 
    border: 1px solid #dee2e6; 
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.cateringall-card:hover {
    transform: translateY(-8px); 
}

.cateringall-carousel {
    margin-bottom: 15px;
}

.cateringall-card-content {
    padding: 20px; 
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    overflow: hidden;
}

.cateringall-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px; 
}

.cateringall-header h3 {
    font-size: 20px; 
    color: #190ede; 
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cateringall-header p {
    font-size: 20px; 
    font-weight: bold;
}

.cateringall-card-content p {
    margin: 5px 0;
    color: #495057; 
    word-wrap: break-word;
}

.cateringall-card-content p strong {
    color: #000;
}

.cateringall-card-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.cateringall-view-details-button,
.cateringall-favourite-button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    color: #007bff;
    transition: color 0.3s, background-color 0.3s;
}

.cateringall-like-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
}

.cateringall-favourite-button {
    font-size: 20px;
    cursor: pointer;
    width: auto; 
    background: transparent; 
    border: none; 
    margin: 0 0 5px 0; 
}

.cateringall-like-count {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.cateringall-view-details-button:hover,
.cateringall-favourite-button:hover {
    background-color: transparent;
    color: #0056b3;
}

.cateringall-favourite-icon {
    font-size: 24px;
}

.cateringall-favourite-icon.filled {
    color: red;
}

.cat-search-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    max-width: 600px; 
    margin: 20px 0; 
}

.cat-search-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px; 
    font-size: 16px;
    width: 100%; 
    max-width: 500px;
    transition: border-color 0.3s;
}

.cat-search-container button {
    padding: 12px 15px; 
    width: 100px;
    margin-bottom: 27px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

.cat-search-container button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.cat-search-container button:active {
    transform: translateY(0); 
}

@media screen and (max-width: 600px) {
    .cateringall-card {
        width: 80%;
        height: auto;
    }

    .cateringall-header-container h2 {
        font-size: 18px;
    }

    .cat-search-container {
        flex-direction: row; 
    }

    .cat-search-container input {
        max-width: 340px; 
        margin-bottom: 10px;
    }

    .cat-search-container input::placeholder {
        font-size: 12px; 
    }

    .cat-search-container button {
        width: 20%; 
        font-size: 12px;
    }
}

@media (max-width: 900px) and (min-width: 600px) {
    .cateringall-card {
        width: 40%;
        height: auto; 
    }

    .cateringall-card-content p {
        font-size: 13px;
    }

    .cateringall-header-container h2 {
        font-size: 25px;
    }

    .cat-search-container {
        flex-direction: row; 
        align-items: center;
    }

    .cat-search-container input {
        width: 300px; 
        margin-right: 10px; 
    }

    .cat-search-container button {
        width: auto; 
    }
}

@media (max-width: 1200px) and (min-width: 900px) {
    .cateringall-card {
        width: 23%;
        height: auto; 
    }

    .cateringall-card-content p {
        font-size: 10px;
    }

    .cateringall-header-container h2 {
        font-size: 22px;
    }

    .cat-search-container input {
        width: 350px; 
    }

    .cat-search-container button {
        padding: 8px 12px; 
    }
}

@media (max-width: 1300px) and (min-width: 1200px) {
    .cateringall-card {
        width: 23%;
        height: auto; 
    }

    .cateringall-card-content p {
        font-size: 13px;
    }

    .cateringall-header-container h2 {
        font-size: 25px;
    }

    .cat-search-container input {
        width: 370px; 
    }
}
