.interiorall-category-container {
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 70px;
}

.interiorall-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}

.interiorall-header-container h2 {
    font-size: 24px;
    color: #333;
    margin-right: 10px;
}

.interiorall-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start; 
    position: relative;
}

.interiorall-card {
    width: 300px;
    height: 510px;  /* Adjusted height for consistency */
    background: #f8f9fa;  /* Updated background color */
    border: 1px solid #dee2e6;  /* Added border for consistency */
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);  /* Updated shadow for consistency */
}

.interiorall-card:hover {
    transform: translateY(-8px); 
}

.interiorall-carousel {
    margin-bottom: 15px;
}

.interiorall-card-content {
    padding: 20px;  /* Updated padding for consistency */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    overflow: hidden;
}

.interiorall-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px; 
}

.interiorall-header h3 {
    font-size: 20px; 
    color: #190ede;  /* Updated header color */
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.interiorall-card-content p {
    margin: 5px 0;
    color: #495057; 
    font-weight: bold;
    word-wrap: break-word;
}

.interiorall-card-content p strong {
    color: #000;
}

.interiorall-card-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.interiorall-view-details-button,
.interiorall-favourite-button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    color: #007bff;
    transition: color 0.3s, background-color 0.3s;
}

.interiorall-like-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
}

.interiorall-favourite-button {
    font-size: 20px;
    cursor: pointer;
    width: auto; 
    background: transparent; 
    border: none; 
    margin: 0 0 5px 0; 
}

.interiorall-like-count {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.interiorall-view-details-button:hover,
.interiorall-favourite-button:hover {
    background-color: transparent;
    color: #0056b3;
}

.interiorall-favourite-icon {
    font-size: 24px;
}

.interiorall-favourite-icon.filled {
    color: red;
}

@media screen and (max-width: 600px) {
    .interiorall-card {
        width: 80%;
        height: auto; 
    }

    .interiorall-header-container h2 {
        font-size: 18px;
    }
}

@media (max-width: 900px) and (min-width: 600px) {
    .interiorall-card {
        width: 40%;
        height: auto; 
    }

    .interiorall-card-content p {
        font-size: 13px;
    }

    .interiorall-header-container h2 {
        font-size: 25px;
    }
}

@media (max-width: 1200px) and (min-width: 900px) {
    .interiorall-card {
        width: 23%;
        height: auto; 
    }

    .interiorall-card-content p {
        font-size: 8px;
    }

    .interiorall-header-container h2 {
        font-size: 20px;
    }
    .interiorall-header h3{
        font-size: 15px;
    }
}

@media (max-width: 1300px) and (min-width: 1200px) {
    .interiorall-card {
        width: 23%;
        height: auto; 
    }

    .interiorall-card-content p {
        font-size: 11px;
    }

    .interiorall-header-container h2 {
        font-size: 22px;
    }
}
