.hero-container {
  position: relative;
  padding: 0;
  color: #fff; 
  overflow: hidden;
  margin-top: 30px;
}

.hero-container img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-container .MuiTypography-root {
  color: #ece0e0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  text-align: center; 
  margin-bottom: 20px; 
}

.search-box {
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(245, 4, 4, 0.3);
  background: rgba(255, 255, 255, 0.9);
  position: relative;
  transition: box-shadow 0.4s ease;
  width: 80%;
  margin-top: -60px;
}

.search-container {
  display: flex;
  justify-content: center; 
  align-items: center;    
  margin-top: 20px;  
}

.search-box:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

label {
  display: block;
  margin-bottom: 8px; 
  font-weight: bold; 
  color: #1e3c72;
}

select,
input[type="text"] {
  width: 100%; 
  padding: 12px; 
  border-radius: 8px; 
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.95);
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

select:focus,
input[type="text"]:focus {
  border-color: #1e3c72; 
  box-shadow: 0 0 4px rgba(30, 60, 114, 0.5);
}

input[type="text"] {
  margin-top: 5px;
  height: 43px;
}

.search-location {
  height: 50px; 
}

.search-box .MuiButton-root {
  background-color: #1e3c72;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease;
  margin-top: 10px; 
}

.search-box .MuiButton-root:hover {
  background-color: #2a5298;
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .search-box {
    padding: 15px; 
  }
}

.map-container {
  display: flex;
  flex-direction: column; 
  margin-top: 20px;
  padding: 20px;
}

@media (min-width: 600px) {
  .map-container {
    flex-direction: row; 
  }
}

.map-container, .leaflet-container {
  border-radius: 10px; 
  width: 100%; 
}

.leaflet-control-zoom {
  position: absolute;
  top: 10px; 
  right: 10px; 
  z-index: 1000; 
}

.leaflet-control {
  display: none; 
}

.slick-dots {
  position: absolute;
  bottom: 20px; 
  z-index: 1000; 
}

@media (max-width: 450px) {
  .map-container {
    flex-direction: column; 
    height: auto;
    width: 100%; 
    margin-left: 0; 
    padding: 10px; 
  }

  .leaflet-container {
    height: 200px; 
    width: 100%; 
  }
}
