.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  color: #060505;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 1000;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: -20px;
  margin-top: 25px;
}

.navbar-logo img {
  width: 200px;
  height: 220px;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  color: #060505;
}

.home-loan-text {
  color: #060505;
}

.navbar-dropdown {
  position: relative;
}

.navbar-dropdown span {
  color: #0a0909;
  font-size: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  transition: color 0.3s;
}

.navbar-dropdown:hover .dropdown-menu {
  display: none;
}

.dropdown-arrow {
  display: inline-block;
  margin-left: 1px;
  transition: transform 0.3s ease;
}

.dropdown-menu {
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #cacbcb;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  width: 500px;
  z-index: 100;
  margin-top: -2px;
}

.dropdown-menu.land-menu {
  width: 350px;
}

.dropdown-menu.interiors-menu {
  width: 300px;
}

.dropdown-menu.buy-menu {
  width: 200px;
}

.dropdown-menu.service-menu {
  width: 250px;
}

.dropdown-menu.design-menu {
  width: 220px;
}

.dropdown-menu a {
  display: block;
  font-size: 15px;
  color: #080707;
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.dropdown-menu a:hover {
  background-color: #555;
}

.navbar-link {
  color: black;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-auth {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar-auth .navbar-profileimage {
  position: relative;
}

.navbar-button {
  padding: 5px 10px;
  border: 1px solid #0c0b0b;
  border-radius: 5px;
  color: #0c0b0b;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-button:hover {
  background-color: #555;
}

.navbar-toggle {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: #060505;
  cursor: pointer;
  outline: none;
  z-index: 1001;
  transition: color 0.3s;
}

.navbar-profile-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ffcc00;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  top: 80px;
  margin-top: -8px;
  right: 10px;
  background-color: #444;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  padding: 10px;
  width: 150px;
  display: none;
}

.navbar-profileimage:hover .profile-dropdown,
.profile-dropdown {
  display: block;
}

.profile-link {
  display: block;
  color: #fff;
  padding: 8px 10px;
  text-decoration: none;
  transition: background-color 0.3s;
  text-align: left;
}

.profile-link:hover {
  background-color: #555;
  cursor: pointer;
}


.navbar-toggle:focus,
.navbar-toggle:active {
  background-color: transparent;
  color: #030303;
  border: none;
}

.navbar-link:hover {
  color: #ffcc00;
}

.navbar-dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a:hover {
  background-color: #666;
}

.navbar-dropdown:hover .dropdown-arrow {
  transform: rotate(180deg);
}

@media (max-width: 850px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #e3d8d8;
    padding: 20px;
    max-height: calc(100vh - 80px);
    overflow-y: auto;
    z-index: 999;
    align-items: flex-start;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-logo img {
    width: 150px;
    height: auto;
  }

  a {
    margin-left: 10px;
    margin-top: 10px;
    color: #fff;
  }

  .navbar-auth {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
  }

  .navbar-button {
    font-size: 13px;
    padding: 5px 10px;
    border: 1px solid #0c0b0b;
    border-radius: 5px;
    color: #0c0b0b;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }

  .navbar-button:hover {
    background-color: #6b6767;
  }

  .navbar-toggle {
    display: flex;
    justify-content: end;
    margin-left: auto;
    font-size: 30px;
    background: none;
    border: none;
    color: #060505;
    cursor: pointer;
    outline: none;
    z-index: 1001;
    transition: color 0.3s;
  }
}


.navbar-dropdown.active .dropdown-menu {
  display: block;
}


.dropdown-menu {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #eef3f8;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
}


.profile-dropdown {
  position: absolute;
  top: 55px;
  right: 10px;
  background-color: #e7d5d5;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  display: none;
}

.navbar-profileimage:hover .profile-dropdown {
  display: block;
}

.profile-link {
  display: block;
  color: #040404;
  padding: 8px 10px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.profile-link:hover {
  background-color: #555;
}

@media (max-width: 500px) {
  .navbar-links {
    display: none;
  }

  .navbar-links.open {
    display: flex;
  }

  a {
    margin-left: 10px;
    margin-top: 10px;
  }

  .navbar-logo a {
    display: inline-block;
    font-size: 10px;
    margin-bottom: 15px;
  }

  .navbar-dropdown {
    width: 100%;
  }

  .dropdown-menu {
    position: relative;
    width: 100%;
    display: none;
    background-color: #e0b0b0;
    padding: 10px;
    border-radius: 5px;
    margin-top: -60px;
    margin-bottom: 35px;
  }

  .navbar-auth {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
  }

  .navbar-auth .navbar-profileimage {
    margin-top: 10px;
  }

  .navbar-button {
    padding: 5px 10px;
    border: 1px solid #0c0b0b;
    border-radius: 5px;
    color: #0c0b0b;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
  .navbar-auth .navbar-button {
    margin-top: 10px;
  }

  .navbar-auth .profile-dropdown {
    position: fixed;
    width: 40%;
  }

  .navbar-toggle {
    display: flex;
    justify-content: end;
    margin-left: 60px;
  }
  .profile-dropdown{
    margin-top: 20px;
  }
}


.navbar-dropdown.active .dropdown-menu {
  display: block;
}

@media (min-width: 769px) {
  .navbar-dropdown:hover .dropdown-menu {
    display: block;
  }
}


@media (max-width: 1290px) and (min-width:1200px) {
  .navbar-dropdown span {
    font-size: 12px;
    justify-content: end;
  }

  .navbar-dropdown {
    font-size: 16px;
  }

  .navbar-links {
    gap: 7px;
    justify-content: end;
  }

  .navbar-logo a {
    font-size: 16px;
  }

  .navbar-link {
    font-size: 14px;
    justify-content: end;
  }

  .dropdown-menu a {
    font-size: 12px;
  }
}


@media (max-width: 1200px) and (min-width:1100px) {
  .navbar-dropdown span {
    font-size: 12px;
    justify-content: end;
  }

  .navbar-dropdown {
    font-size: 16px;
  }

  .navbar-auth a {
    font-size: 12px;
  }

  .navbar-links {
    gap: 10px;
    justify-content: end;
  }

  .navbar-logo a {
    font-size: 5px;
  }

  .navbar-link {
    font-size: 10px;
    justify-content: end;
  }

  .dropdown-menu a {
    font-size: 12px;
  }
}

@media (max-width: 1100px) and (min-width:1000px) {
  .navbar-dropdown span {
    font-size: 11px;
    justify-content: end;
  }

  .navbar-dropdown {
    font-size: 16px;
  }

  .navbar-links {
    gap: 7px;
    justify-content: end;
  }

  .navbar-logo a {
    font-size: 16px;
  }

  .navbar-auth a {
    font-size: 8px;
  }

  .navbar-link {
    font-size: 9px;
    justify-content: end;
  }

  .dropdown-menu a {
    font-size: 12px;
  }
}


@media (max-width: 1000px) and (min-width:925px) {
  .navbar-dropdown span {
    font-size: 10px;
    justify-content: end;
  }

  .navbar-dropdown {
    font-size: 16px;
  }

  .navbar-auth a {
    font-size: 8px;
  }

  .navbar-links {
    gap: 5px;
    justify-content: end;
  }

  .navbar-logo a {
    font-size: 16px;
  }

  .navbar-auth {
    margin-right: -15px;
  }

  .navbar-link {
    font-size: 10px;
    justify-content: end;
  }

  .navbar-logo img {
    margin-left: -10px;
  }

  .dropdown-menu a {
    font-size: 12px;
  }
}

@media (max-width: 925px) and (min-width:850px) {
  .navbar-dropdown span {
    font-size: 9px;
    justify-content: end;
  }

  .navbar-dropdown {
    font-size: 14px;
  }

  .navbar-auth a {
    font-size: 8px;
  }

  .navbar-links {
    gap: 2px;
    justify-content: end;
  }

  .navbar-logo a {
    font-size: 13px;
  }

  .navbar-auth {
    margin-right: -15px;
  }

  .navbar-link {
    font-size: 8px;
    justify-content: end;
  }

  .navbar-logo img {
    margin-left: -10px;
  }

  .dropdown-menu a {
    font-size: 10px;
  }
}