.category-sidebar {
    width: 200px; 
    background-color: #ffffff; 
    padding: 20px;
    border-right: 1px solid #dee2e6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    transition: background-color 0.3s, transform 0.3s;
}

.category-sidebar h3 {
    margin-bottom: 20px;
    font-size: 1.2rem; 
    color: #343a40; 
    text-align: center; 
    margin-top: 100px;
}

.category-sidebar ul {
    list-style: none;
    padding: 0;
}

.category-sidebar li {
    cursor: pointer;
    padding: 10px 5px; /* Reduced padding */
    transition: background-color 0.3s, transform 0.3s; 
    border-radius: 4px; 
    margin: 5px 0; 
    font-size: 0.9rem; /* Smaller font size */
}

.category-sidebar li:hover {
    background-color: #007bff; 
    color: #ffffff; 
    transform: scale(1.05); 
}

.category-sidebar li:active {
    transform: scale(0.95); 
}

/* Active category style */
.category-sidebar li.active {
    background-color: #0056b3; /* Darker blue for active category */
    color: #ffffff; /* White text for contrast */
}

/* Responsive Styles */
@media (max-width: 800px) {
    .category-sidebar {
        width: 150px; /* Further reduce width for tablets */
        padding: 15px;
    }

    .category-sidebar h3 {
        font-size: 1.1rem; /* Adjust heading size */
    }

    .category-sidebar li {
        font-size: 0.85rem; /* Smaller font size for tablets */
    }
}

@media (max-width: 600px) {
    .category-sidebar {
        width: 20%; 
        border-right: none;
        margin-bottom: 20px; 
    }

    .category-sidebar h3 {
        font-size: 1rem; 
    }

    .category-sidebar li {
        font-size: 0.8rem; 
        padding: 8px 5px; 
    }
}

@media (max-width: 520px) {
    .category-sidebar {
        width: 24%; 
        border-right: none;
       
    }
    .category-sidebar h3 {
        font-size: 0.9rem; 
    }

    .category-sidebar li {
        padding: 10px 5px; 
    }
}
