.house21-category-container {
  padding: 20px;
  margin-bottom: 40px;
  margin-top: 70px;
}

.house21-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
}

.house21-header-container h2 {
  font-size: 24px;
  color: #333;
  margin-right: 10px;
}

.house21-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start; 
  position: relative;
}

.house21-card {
  width: 270px; 
  height: 600px; 
  background: #f8f9fa; 
  border: 1px solid #dee2e6; 
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.house21-card:hover {
  transform: translateY(-8px); 
}

.house21-carousel {
  margin-bottom: 15px;
  height: 200px; 
  overflow: hidden;
}

.house21-carousel img {
  height: 200px; 
  width: 100%; 
  object-fit: cover; 
}

.house21-card-content {
  padding: 20px; 
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  overflow: hidden;
}

.house21-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px; 
}

.house21-header h3 {
  font-size: 20px; 
  color: #190ede; 
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.house21-header p {
  font-size: 20px; 
  font-weight: bold;
}

.house21-card-content p {
  margin: 5px 0;
  color: #495057; 
  word-wrap: break-word;
}

.house21-card-content p strong {
  color: #000;
}

.house21-card-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.house21-view-details-button{
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  color: #007bff;
  transition: color 0.3s, background-color 0.3s;
}


.house21-like-container {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
}


.house21-like-count {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.house21-view-details-button:hover {
  background-color: transparent;
  color: #0056b3;
}

.house21-favourite-icon {
  font-size: 24px;
}

.house21-favourite-icon.filled {
  color: red;
}

.house21-loading-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/* Media Queries */
@media screen and (max-width: 500px) {
  .house21-card {
    width: auto;
    height: auto;
    margin-left: -35px;
  }

  .house21-header-container h2 {
    font-size: 18px;
  }
}
@media (max-width: 800px) and (min-width: 500px)  {
  .house21-card {
    width: 80%;
    height: auto;
  }

  .house21-header-container h2 {
    font-size: 20px;
  }
}
@media (max-width: 1120px) and (min-width: 900px) {
  .house21-card {
    width: 40%;
    height: auto; 
  }
  .house21-card-content p {
    font-size: 13px;
  }
  .house21-header-container h2 {
    font-size: 25px;
  }
}

@media (max-width: 1200px) and (min-width: 1120px) {
  .house21-card {
    width: 23%;
    height: auto; 
  }
  .house21-card-content p {
    font-size: 13px;
  }
  .house21-header-container h2 {
    font-size: 25px;
  }
}
@media (max-width: 1300px) and (min-width: 1200px) {
  .house21-card {
    width: 23%;
    height: auto; 
  }
  .house21-card-content p {
    font-size: 13px;
  }
  .house21-header-container h2 {
    font-size: 25px;
  }
}
