.stoneeall-category-container {
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 70px;
}

.stoneeall-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}

.stoneeall-header-container h2 {
    font-size: 24px;
    color: #333;
    margin-right: 10px;
}

.stoneeall-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start; 
    position: relative;
}

.stoneeall-card {
    width: 300px;
    height: 590px;
    background: #e7e3e3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.stoneeall-card:hover {
    transform: translateY(-10px);
}

.stoneeall-carousel {
    margin-bottom: 15px;
}

.stoneeall-card-content {
    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    overflow: hidden;
}

.stoneeall-card-content h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px;
    font-size: 18px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.stoneeall-card-content p {
    margin: 5px 0;
    color: #555;
    word-wrap: break-word;
}

.stoneeall-card-content p strong {
    color: #000;
}

.stoneeall-card-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.stoneeall-view-details-button,
.stoneeall-favourite-button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    color: #007bff;
    transition: color 0.3s, background-color 0.3s;
}

.stoneeall-favourite-button {
    font-size: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.stoneeall-view-details-button:hover,
.stoneeall-favourite-button:hover {
    background-color: transparent;
    color: #0056b3;
}

.stoneeall-favourite-icon {
    font-size: 24px;
}

.stoneeall-favourite-icon.filled {
    color: red;
}

.stoneeall-like-count {
    margin-left: 5px;
    font-size: 14px;
    color: #333;
}

/* Media Queries */
@media screen and (max-width: 600px) {
    .stoneeall-card {
        width:80%;
        height: auto; 
    }

    .stoneeall-header-container h2 {
        font-size: 18px;
    }
}

@media (max-width: 900px) and (min-width:600px){
    .stoneeall-card {
        width: 40%;
        height: auto;
    }
    .stoneeall-card-content p{
        font-size: 13px;
    }
    .stoneeall-header h2 {
        font-size: 25px;
    }
}
@media (max-width: 1200px) and (min-width:900px){
    .stoneeall-card {
        width: 23%;
        height: 580px;
    }
    .stoneeall-card-content p{
        font-size: 13px;
    }
    .stoneeall-header h2 {
        font-size: 25px;
    }
}
