.stoneall-category-container {
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 70px;
}

.stoneall-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}

.stoneall-header-container h2 {
    font-size: 24px;
    color: #333;
    margin-right: 10px;
}

.stoneall-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start; 
    position: relative;
}

.stoneall-card {
    width: 300px;
    height: 510px; /* Adjusted to match cement card height */
    background: #f8f9fa; /* Lighter background to match cement */
    border: 1px solid #dee2e6; /* Added border */
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
}

.stoneall-card:hover {
    transform: translateY(-8px); /* Consistent hover effect */
}

.stoneall-carousel {
    margin-bottom: 15px;
}

.stoneall-card-content {
    padding: 20px; /* Increased padding for better spacing */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    overflow: hidden;
}

.stoneall-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px; 
}

.stoneall-header h3 {
    font-size: 20px; 
    color: #190ede; 
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.stoneall-card-content p {
    margin: 5px 0;
    color: #495057; 
    word-wrap: break-word;
}

.stoneall-card-content p strong {
    color: #000;
}

.stoneall-card-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.stoneall-view-details-button,
.stoneall-favourite-button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    color: #007bff;
    transition: color 0.3s, background-color 0.3s;
}

.stoneall-like-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
}

.stoneall-favourite-button {
    font-size: 20px;
    cursor: pointer;
    width: auto; 
    background: transparent; 
    border: none; 
    margin: 0 0 5px 0; 
}

.stoneall-like-count {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.stoneall-view-details-button:hover,
.stoneall-favourite-button:hover {
    background-color: transparent;
    color: #0056b3;
}

.stoneall-favourite-icon {
    font-size: 24px;
}

.stoneall-favourite-icon.filled {
    color: red;
}

/* Media Queries */
@media screen and (max-width: 600px) {
    .stoneall-card {
        width: 80%;
        height: auto;
    }

    .stoneall-header-container h2 {
        font-size: 18px;
    }
}

@media (max-width: 900px) and (min-width: 600px) {
    .stoneall-card {
        width: 40%;
        height: auto; 
    }
    .stoneall-card-content p {
        font-size: 13px;
    }
    .stoneall-header-container h2 {
        font-size: 25px;
    }
}

@media (max-width: 1200px) and (min-width: 900px) {
    .stoneall-card {
        width: 23%;
        height: auto; 
    }
    .stoneall-card-content p {
        font-size: 13px;
    }
    .stoneall-header-container h2 {
        font-size: 25px;
    }
}

@media (max-width: 1300px) and (min-width: 1200px) {
    .stoneall-card {
        width: 23%;
        height: auto; 
    }
    .stoneall-card-content p {
        font-size: 13px;
    }
    .stoneall-header-container h2 {
        font-size: 25px;
    }
}
