.steeleall-category-container {
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 70px;
}

.steeleall-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}

.steeleall-header-container h2 {
    font-size: 24px;
    color: #333;
    margin-right: 10px;
}

.steeleall-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.steeleall-card {
    width: 300px;
    height: 570px; 
    background: #f8f9fa; 
    border: 1px solid #dee2e6; 
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}

.steeleall-card:hover {
    transform: translateY(-8px);
}

.steeleall-carousel {
    margin-bottom: 15px;
}

.steeleall-card-content {
    padding: 20px; 
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.steeleall-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.steeleall-header h3 {
    font-size: 20px;
    color: #190ede;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.steeleall-header p {
    font-size: 20px; 
    font-weight: bold;
}

.steeleall-card-content p {
    margin: 5px 0;
    color: #495057;
    word-wrap: break-word;
}

.steeleall-card-content p strong {
    color: #000;
}

.steeleall-card-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.steeleall-view-details-button,
.steeleall-favourite-button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    color: #007bff;
    transition: color 0.3s, background-color 0.3s;
}

.steeleall-like-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
}

.steeleall-favourite-button {
    font-size: 20px;
    cursor: pointer;
    width: auto; 
    background: transparent; 
    border: none; 
    margin: 0 0 5px 0; 
}

.steeleall-like-count {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.steeleall-view-details-button:hover,
.steeleall-favourite-button:hover {
    background-color: transparent;
    color: #0056b3;
}

.steeleall-favourite-icon {
    font-size: 24px;
}

.steeleall-favourite-icon.filled {
    color: red;
}
.steeleall-carousel img {
    height: 200px; 
    width: 100%; 
    object-fit: cover; 
}
.steeleall-search-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    max-width: 600px; 
    margin: 20px auto; 
    margin-top: -40px;
}

.steeleall-search-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px; 
    font-size: 16px;
    width: 100%; 
    max-width: 500px;
    transition: border-color 0.3s;
}

.steeleall-search-container button {
    padding: 12px 15px; 
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

.steeleall-search-container button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.steeleall-search-container button:active {
    transform: translateY(0); 
}

/* Media Queries */
@media screen and (max-width: 600px) {
    .steeleall-card {
        width: 80%;
        height: auto;
    }

    .steeleall-header-container h2 {
        font-size: 18px;
    }
}

@media (max-width: 900px) and (min-width: 600px) {
    .steeleall-card {
        width: 40%;
        height: auto; 
    }
    .steeleall-card-content p {
        font-size: 13px;
    }
    .steeleall-header-container h2 {
        font-size: 25px;
    }
}

@media (max-width: 1200px) and (min-width: 900px) {
    .steeleall-card {
        width: 23%;
        height: auto; 
    }
    .steeleall-card-content p {
        font-size: 13px;
    }
    .steeleall-header-container h2 {
        font-size: 25px;
    }
}

@media (max-width: 1300px) and (min-width: 1200px) {
    .steeleall-card {
        width: 23%;
        height: auto; 
    }
    .steeleall-card-content p {
        font-size: 13px;
    }
    .steeleall-header-container h2 {
        font-size: 25px;
    }
}
